@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');

/* -----NAVBAR STYLING----- */
.topnav {
    overflow: hidden;
    background-color: #333;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgb(110, 101, 194); ;
    color: white;
  }

  /*-----SCROLLBAR-----*/
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 101, 194); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

  /*-----HOME BG &  MAIN CONTAINER-----*/

.container-fluid {
    background-image: url("https://github.com/shelkelly/ShelByte/blob/main/client/src/images/3162508.jpg?raw=true");
    background-color: black;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: auto;
    height: 100vh;
    overflow:auto;
}

.maincontainer {
    background-color: rgba(255, 255, 255, 0.719);
    margin: 5%;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(219, 75, 255, 0.219), 0 6px 20px 0 rgba(255, 88, 88, 0.19);
}

#overall {
  overflow: auto;
}

.container {
  border-radius: 15px;
}

/*-----TEXT AREA-----*/
#textarea{
  width: 100%;
}

/*-----H1-----*/

h1 {
    text-align: center;
    font-family: 'Source Code Pro', monospace;
    text-shadow: 2px 2px 3px rgb(170, 60, 180);
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1 {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

/*-----EXAMPLES DIV-----*/
#examples {
  width: 100%;
}
.exlink {
  color: #2e012e;
  text-decoration: none;
  font-size: 17px;
}

.exlink:hover {
  background-color: #2e012e;
  color: white;
  text-decoration: none;
}

/*-----CONTACT DIV-----*/
#contact {
  width: 100%;
  padding: 5%;
  text-align: center;
}

#contactcenter {
  text-align: center;
}

#contactimg {
  width: 15%;
  border: 1px solid rgb(180, 35, 156);
  padding: 5px;
  margin: 5px;
}

#contactimg:hover {
  -moz-box-shadow: 0 0 10px rgb(128, 128, 128);
  -webkit-box-shadow: 0 0 10px rgb(128, 128, 128);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}

/*----- PORTFOLIO PAGE -----*/

.responsive {
  width: 100%;
  height: auto;
  padding: 5px;
}

p {
  text-align: center;
}

h3 {
  text-align: center;
}