@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&display=swap');

/* -----NAVBAR STYLING----- */
.topnav {
    overflow: hidden;
    background-color: #333;
    padding: 3px 10px;
  }
  
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    margin-right: 10px;
  }
  
  .topnav a:hover {
    background-color: rgb(122, 0, 82);
    color: white;
    animation: fadein 2s;
    border-radius: 10px;
    margin-right: 10px;
  }
  
  .topnav a.active {
    background-color: rgb(110, 101, 194);
    color: white;
  }

  /*-----SCROLLBAR-----*/
  /* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #eeeeee; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(110, 101, 194); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* TRANSITIONS */

@keyframes slidein {
  from { transform: scaleX(0); }
  to   { transform: scaleX(1); }
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

@keyframes slideUp {
  0% {
    transform: translateY(1000px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes expand {
  0% {
    transform: translateX(1400px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes fadeOut {
  0% {
    opacity:1;
  }
  100% {
    opacity:0;
  }
}


  /*-----HOME BG &  MAIN CONTAINER-----*/

.container-fluid {
    background-image: url("../../images/3162508.jpg");
    background-color: black;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size:cover;
    height: 100vh;
    overflow:auto;
}

.maincontainer {
    background-color: rgba(255, 255, 255, 0.719);
    margin: 5%;
    overflow: auto;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(219, 75, 255, 0.219), 0 6px 20px 0 rgba(255, 88, 88, 0.19);
    transform: translateY(100px);
    animation: expand ease-in-out forwards 1.7s;
  }


#overall {
  overflow: auto;
}

.container {
  border-radius: 15px;
}

/*-----TEXT AREA-----*/
#textarea{
  width: 100%;
  display: inline-block;
  animation: fadein 5s;
}

/*-----H1-----*/

h1 {
    padding: 24px;
    text-align: center;
    font-family: 'Kiwi Maru', serif;
    text-shadow: 2px 2px 3px rgb(100, 36, 105);
}

/* If the screen size is 601px wide or more, set the font-size of <div> to 80px */
@media screen and (min-width: 601px) {
  h1 {
    font-size: 30px;
  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media screen and (max-width: 600px) {
  h1 {
    font-size: 20px;
  }
}

/*-----EXAMPLES DIV-----*/
#examples {
  width: 100%;
  max-height: 500px;
}
.exlink {
  color: #2e012e;
  padding: 5px;
  text-decoration: none;
  font-size: 17px;
}

.exlink:hover {
  background-color: #2e012e;
  color: white;
  padding: 5px;
  text-decoration: none;
  animation: fadein 2s;
}

/*-----CONTACT DIV-----*/
#contact {
  width: 100%;
  padding: 5%;
  text-align: center;
}

#contactcenter {
  text-align: center;
}

#contactimg {
  width: 15%;
  border: 1px solid rgb(180, 35, 156);
  padding: 5px;
  margin: 5px;
}

#contactimg:hover {
  -moz-box-shadow: 0 0 10px rgb(128, 128, 128);
  -webkit-box-shadow: 0 0 10px rgb(128, 128, 128);
  box-shadow: 0 0 10px rgb(128, 128, 128);
}

/*----- PORTFOLIO PAGE -----*/

#portcontainer {
  max-height: 700px;
}

.responsive {
  width: 100%;
  height: auto;
  padding: 5px;
  max-width: 1000px;
  border-radius: 20px;
  animation: fadein 3s;
}

p {
  font-family: 'Kiwi Maru', serif;
  font-size: 18px;
  text-align: center;
  animation: fadein 3.5s;
}

h3 {
  text-align: center;
}

h4 {
  text-align: center;
}